.card {
  display: block;
  box-shadow: 0 0 2px black;
  border-radius: 5px;
  padding: 10px;
  position: relative;
  min-height: 24px;
  margin-bottom: 10px;
}

.card__close {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  color: red;
}

.card__body {
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  display: block;
}

.card__comments {
  font-size: 12px;
  color: #BABABA;
}